<a href="https://colab.research.google.com/github/riyansetiyadi/Tugas_Akhir_Statistika/blob/main/UAS_Statistika.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from scipy.stats import poisson
import pandas as pd

In [20]:
dataCovid = pd.read_csv("Data COVID 19 2021.csv")
dataCovid

   No     Bulan Kasus Aktif Kasus Meninggal
0   1   Januari     175,349           7,860
1   2  Februari     155,765           6,168
2   3     Maret     122,524           4,419
3   4     April     100,213           4,663
4   5       Mei     102,006           5,057
5   6      Juni     135,738           3,559

In [17]:
#membuat fungsi distribusi poisson dengan parameter n dan mu/lamda
def distribusi_poisson(n,mu):
    x_values = list(range(n + 1)) #simpan list x_values
    x = poisson.rvs(mu=mu,size=n) #generate random variates poisson
    dist = [poisson(mu=mu).pmf(x)for x in x_values ] #append nilai distribusi poisson ke list
    d = {'X': x_values, 'p(X)': dist}
    df = pd.DataFrame(data=d)
    print(df)

In [18]:
# setting nilai n dan mu/lamda
n=5
mu=9.397
distribusi_poisson(n, mu)

   X      p(X)
0  0  0.000083
1  1  0.000780
2  2  0.003663
3  3  0.011475
4  4  0.026958
5  5  0.050664